
#form {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

#clock {
display: flex;
justify-content: center;
font-family: 'Orbitron', sans-serif;
color: #747474;
font-size: 6vw;
} 

#form, .h1{
  color:  #747474;
  margin-left: 25%;
}

#btn {
  padding:5px;
  background: -webkit-linear-gradient(left, #ffffff, #7cad5b);
  border-radius: 8px;
}

#btn2 {
  padding:5px;
  background: -webkit-linear-gradient(left, #ffffff, #b66464);
  border-radius: 8px;
}